@model Apoteka.Models.Racun

@{
    ViewData["Title"] = "Račun / Detalji";
}

<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title">Detalji za račun broj: @Model.RacunId</h4>
            </div>
            <div class="card-body">
                <dl class="row">
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Iznos)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Iznos)
                    </dd>
                    <dt class="col-sm-4">
                        Datum i vrijeme izdavanja
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.DatumIzdavanja)
                    </dd>
                    <dt class="col-sm-4">
                        JMBG
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Jmbg)
                    </dd>
                    
                </dl>
                <div class="row">
                    <div class="col">
                        <a class="btn btn-outline-warning" asp-action="Edit" asp-route-id="@Model.RacunId">Izmijeni</a>
                        <a class="btn btn-primary" asp-action="Index">Nazad na listu</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
