@model IEnumerable<Apoteka.Models.Racun>

@{
    ViewData["Title"] = "Pregled racuna";
}

<a class="btn btn-primary" asp-area="" asp-controller="Racun" asp-action="Create">Dodaj novu kupovinu</a>
<p></p>

<table class="table">
    <thead>
        <tr>
            <th>Broj racuna </th>

            <th>
                @Html.DisplayNameFor(model => model.Iznos)
            </th>
            <th>
                Datum i vrijeme izdavanja
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Jmbg)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RacunId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Iznos)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DatumIzdavanja)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Jmbg)
                </td>
                <td>
                    <a href="@Url.Action("Index", "Kupovina", new { racunId = item.RacunId} )">Pregled</a>
                </td>
            </tr>
        }
    </tbody>
</table>
