@model IEnumerable<Apoteka.Models.Racun>

@{
    ViewData["Title"] = "Pregled računa";
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title">
                    <a class="text-warning" asp-area="" asp-controller="Racun" asp-action="Create">Započni novu kupovinu</a>
                </h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead class="text-primary">
                            <tr>
                                <th>Broj računa </th>

                                <th>
                                    @Html.DisplayNameFor(model => model.Iznos)
                                </th>
                                <th>
                                    Datum i vrijeme izdavanja
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Jmbg)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.RacunId)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Iznos) KM
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DatumIzdavanja)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Jmbg)
                                    </td>
                                    <td>
                                        <a href="@Url.Action("Index", "Kupovina", new { racunId = item.RacunId} )" title="Pregled računa">
                                            <i class="material-icons">info</i>
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>



