@model Apoteka.Models.Osiguranik

@{
    ViewData["Title"] = "Osiguranik / Detalji";
}

<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title">Detalji za osiguranika sa JMBG: @Model.Jmbg</h4>
            </div>
            <div class="card-body">
                <dl class="row">
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Ime)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Ime)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Prezime)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Prezime)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Adresa)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Adresa)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.BrojTelefona)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.BrojTelefona)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Grad)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Grad.Naziv)
                    </dd>
                </dl>
                <div class="row">
                    <div class="col">
                        <a class="btn btn-outline-warning" asp-action="Edit" asp-route-id="@Model.OsiguranikId">Izmijeni</a>
                        <a class="btn btn-primary" asp-action="Index">Nazad na listu</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
