@model IEnumerable<Apoteka.Models.Lijek>

@{
    ViewData["Title"] = "Lijekovi";
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title">Prikaz lijekova iz baze</h4>
                <h5 class="card-category"> 
                    <a class="text-warning" asp-action="Create">Dodaj novi lijek</a> 
                </h5>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead class="text-primary">
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Naziv)
                                </th>
                                <th>
                                    Na recept
                                </th>
                                <th>
                                    Cijena
                                </th>
                                <th>
                                    Količina
                                </th>
                                <th>
                                    Dobavljač
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Naziv)
                                    </td>
                                    @if (item.NaRecept == 0)
                                    {
                                        <td>
                                            Nije
                                        </td>
                                    }
                                    else
                                    {
                                        <td>
                                            Jeste
                                        </td>
                                    }

                                    <td>
                                        @Html.DisplayFor(modelItem => item.Cijena) KM
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Kolicina)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Dobavljac.Naziv)
                                    </td>
                                    <td>
                                        <a asp-action="Edit" asp-route-id="@item.LijekId" title="Izmijeni">
                                            <i class="material-icons">create</i>
                                        </a> |
                                        <a asp-action="Details" asp-route-id="@item.LijekId" title="Detalji">
                                            <i class="material-icons">info</i>
                                        </a> |
                                        <a asp-action="Delete" asp-route-id="@item.LijekId" title="Obriši">
                                            <i class="material-icons">delete</i>
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>
