@model IEnumerable<Apoteka.Models.Kupovina>

@{
    ViewData["Title"] = "Pregled racuna";
}

<h1>Pregled računa</h1>
<p></p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Lijek)
            </th>
            <th>
               Količina
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Iznos) u KM
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Lijek.Naziv)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Kolicina)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Iznos)
                </td>
            </tr>
        }

    </tbody>
</table>
<div class="row">
    <div class="col-8">
        <a href="@Url.Action("Index","Racun")">Nazad na pregled svih računa</a>
    </div>
    <div class="col-4">
        <strong>Ukupno: </strong> @ViewBag.Iznos KM
    </div>
</div>