@model IEnumerable<Apoteka.Models.Grad>

@{
    ViewData["Title"] = "Index";
}

<h1>Gradovi</h1>

<p>
    <a asp-action="Create">Dodaj novi grad</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Naziv)
            </th>
            <th>
                Poštanski broj
            </th>
            <th>
               Država
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Naziv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostanskiBroj)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Drzava.Naziv)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.GradId">Izmijeni</a> |
                <a asp-action="Details" asp-route-id="@item.GradId">Detalji</a> |
                <a asp-action="Delete" asp-route-id="@item.GradId">Obriši</a>
            </td>
        </tr>
}
    </tbody>
</table>
