@model IEnumerable<Apoteka.Models.Dobavljac>

@{
    ViewData["Title"] = "Index";
}

<h1>Dobavljači</h1>

<p>
    <a asp-action="Create">Dodaj novog dobavljača</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Naziv)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Adresa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefon)
            </th>
            <th>
                E-Mail
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Grad)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Naziv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Adresa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EMail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Grad.Naziv)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DobavljacId">Izmijeni</a> |
                <a asp-action="Details" asp-route-id="@item.DobavljacId">Detalji</a> |
                <a asp-action="Delete" asp-route-id="@item.DobavljacId">Obriši</a>
            </td>
        </tr>
}
    </tbody>
</table>
