@model IEnumerable<Apoteka.Models.Dobavljac>

@{
    ViewData["Title"] = "Dobavljači";
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title">Prikaz dobavljača iz baze</h4>
                <h5 class="card-category">
                    <a class="text-warning" asp-action="Create">Dodaj novog dobavljača</a>
                </h5>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead class="text-primary">
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Naziv)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Adresa)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Telefon)
                                </th>
                                <th>
                                    E-Mail
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Grad)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Naziv)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Adresa)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Telefon)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.EMail)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Grad.Naziv)
                                    </td>
                                    <td>
                                        <a asp-action="Edit" asp-route-id="@item.DobavljacId" title="Izmijeni">
                                            <i class="material-icons">create</i>
                                        </a> |
                                        <a asp-action="Details" asp-route-id="@item.DobavljacId" title="Detalji">
                                            <i class="material-icons">info</i>
                                        </a> |
                                        <a asp-action="Delete" asp-route-id="@item.DobavljacId" title="Obriši">
                                            <i class="material-icons">delete</i>
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
